<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="strCon" connectionString="SERVER=sql.bsite.net\MSSQL2016;USER=snizhel_; PASSWORD=veemon789 ; DATABASE=snizhel_"
		 providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>